<!DOCTYPE html>
<html>
<head>
    <%- include("./partials/header.ejs") %>
</head>
<body>

    <article >
    <%- include("./partials/navbar.ejs") %>
        <div class="center">
            <p>
                Salutations ! 
            </p>

            <p>
                Il y a <%= impose.length%> images en stock. Celles-ci sont une compilation du meilleur/pire des images que tu peux trouver sur internet.
            </p>


            <p>
                En memoire de IMPOSE TON ANONYMAT de <a href="https://www.martinsek.fr" target="_blank">Martin Sek</a>. La base d'image primaire provient de son site qu'il a genereusement mis à disposition dans son <a href=""  target="_blank">Google Drive</a>
            </p>


            <p>
                Developpé et maintenu par <a href="https://twitter.com/makidelille" target="_blank">@Makidelile</a>.
            </p>
            <p>
                Code Source du site sur <a href="https://github.com/makidelille/1posetonanonymat" target="_blank">Github</a>
            </p>
        </div>
    
        <!-- <%- include("./partials/image.ejs", {image: impose.random}) %> -->

    </article>
    

    <%- include("./partials/footer.ejs") %>
</body>
</html>