<!DOCTYPE html>
<html>
<head>
    <%- include("./partials/header.ejs") %>
</head>
<body>

    <article >
    <%- include("./partials/navbar.ejs") %>
        <div class="center">
            <p>
                Salutation ! 
            </p>

            <p>
                Il y a <%= impose.length%> images en stock. Pour commencer tu pourras trouver une image aléatoire ci-desous.
            </p>

        </div>
    
        <!-- <%- include("./partials/image.ejs", {image: impose.random}) %> -->

    </article>
    

    <%- include("./partials/footer.ejs") %>
</body>
</html>